        #map {
            width: 100%;
            height: 60vh;
        }
        
        input#current_loc {
            width: 90px;
            height: 30px;
            font-size: 16px;
        }
        
        table {
            border-collapse: collapse;
        }
        
        #tooltip {
            width: 80%;
            float: left;
        }
        
        #tooltip_table {
            margin-top: 1em;
        }
        
        #tooltip_img {
            width: 70%;
            height: auto;
            max-height: 30vh;
        }
        
        #button {
            margin-top: 1em;
            width: 19%;
            float: right;
        }
        
        td {
            font-size: 16px;
        }
        
        .footer {
            width: 100%;
            clear: left;
            border-top: 1px solid #CCC;
            text-align: center;
            font-size: 10px;
            margin-top: 5em;
            padding: 0;
        }
        
        @media screen and ( max-width:750px) {
            h1 {
                color: #f00;
                /* 赤色 */
            }
            td {
                font-size: 21px;
            }
            .dots {
                size: 150%;
            }
            input#current_loc {
                width: 120px;
                height: 60px;
                font-size: 21px;
            }
            #tooltip {
                width: 70%;
                float: left;
            }
            #button {
                margin-top: 1em;
                width: 29%;
                float: right;
            }
            .footer {
                width: 100%;
                clear: left;
                border-top: 1px solid #CCC;
                text-align: center;
                font-size: 10px;
                margin-top: 13em;
                padding: 0;
            }
        }